In [24]:
from glob import glob
import pandas as pd
import re

In [35]:
check_dict = {}

In [36]:
data_results = glob("data/*")
for file in data_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year != 2012:
        target_encoding = "utf-8"
    else:
        target_encoding = "latin-1"
    df = pd.read_csv(file, sep = ";", encoding = target_encoding)
    count = len(df.index)
    check_dict[year] = [count]

C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (8,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_3384\2515357350.py:8: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)

In [37]:
edge_results = glob("edges/*")
for file in edge_results:
    year = file.split("\\")[1].split(".")[0]
    if len(year) == 4:
        year = int(year)
        df = pd.read_csv(file, sep = ";", encoding = "utf-8")
        count = df["count"].sum()
        if year in check_dict.keys():
            check_dict[year].append(count)

In [38]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["data"]
check_df

        data   edges     ratio
2008  198523  161178  0.811886
2009  213266  105759  0.495902
2010  231408  190369  0.822655
2011  252827  206431  0.816491
2012  267547  219032  0.818667
2013  272791  225790  0.827703
2014  234772  169984  0.724039
2015  552220  388176  0.702937
2016  601809  421672  0.700674
2017  642077  448174  0.698007
2018  688510  484237  0.703311
2019  736434  516374  0.701182

In [39]:
check_df["edges"].sum() / check_df["data"].sum()

0.7230259532347925

In [11]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["data"]
check_df

        data   edges     ratio
2008  198523  161178  0.811886
2009  213266  172641  0.809510
2010  231408  190369  0.822655
2011  252827  206431  0.816491
2013  272791  225790  0.827703
2014  234772  169984  0.724039
2015  552220  388176  0.702937
2016  601809  421672  0.700674
2017  642077  448174  0.698007
2018  688510  484237  0.703311
2019  736434  516374  0.701182

In [12]:
check_df["edges"].sum() / check_df["data"].sum()

0.731954962086754

In [32]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["data"]
check_df

        data   edges     ratio
2008  198523  163573  0.823950
2009  213266  175337  0.822152
2010  231408  192944  0.833783
2011  252827  209128  0.827158
2013  272791  229252  0.840394
2014  234772  120850  0.514755
2015  552220  250710  0.454004
2016  601809  268078  0.445454
2017  642077  285641  0.444870
2018  688510  310188  0.450521
2019  736434  332804  0.451913

In [33]:
check_df["edges"].sum() / check_df["data"].sum()

0.5489090278869455

In [43]:
data_results = glob("data/*")

def clean_and_append(city):
    city = str(city)
    city = re.sub(r"\(.*?\)", "", city)
    city = city.lower()
    city = city.strip()
    city = city.replace("  ", " ")
    city_split = [token for token in city.split(" ") if not token.isdigit()]
    city = " ".join(city_split)
    return city

city_list = []
for file in data_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year > 2013:
        df = pd.read_csv(file, sep = ";", encoding = "utf-8")
        sending_list = df["Sending City"].tolist()
        for city in sending_list:
            city = clean_and_append(city)
            city_list.append(city)
        receiving_list = df["Receiving City"].tolist()
        for city in receiving_list:
            city = clean_and_append(city)
            city_list.append(city)
city_list = list(set(city_list))
print(len(city_list))

C:\Users\lorga\AppData\Local\Temp\ipykernel_9400\3318989483.py:17: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = "utf-8")
C:\Users\lorga\AppData\Local\Temp\ipykernel_9400\3318989483.py:17: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = "utf-8")

77215

In [44]:
print(city_list[:200])

['', 'panevėžys', 'praga-nové mesto', 'coulounieix chamiers', 'carrer de muntaner, 479, barcelona, spain', 'bingen', 'moron de la frontera', 'palma / islas baleares', 'rubi', 'l�renskrog', 'weitnau', 'neradnovci', 'bebra', 'minehead', 'zditovo', 'borgo valsugana', 'gidy', 'bassum', 'zuidoostbeemster', 'spisska stara ves', '?ehitkamil, gaziantep', 'cheongju', 'r�dersheim', 'istantbul', 'puerto real / cadiz', 'winterbach', 'terrassa/barcelona', 'drouwenerveen', 'rezzato - bs', 'helston, cornwall', 'saint martin des champs', 'pontypool', 'moustiers-saint marie', 'saint denis de la reunion', 'islas baleares,', 'bain de bretagne', 'terragona', 'breasclete, callanish', 'lespinassiere', 'voisins le bretonneux', 'stare kosiny', 'klippan', 'yunquera de henares,', 'khemis-miliana', 'kopaszyn', 'montelupo', 'rajcza', 'aradeo', 'v�ls am schlern', 'olomouc', 'tjodalyng', 'san pawn il-bahar qawra', 'hameenl', '�����������', 'berlynas', 'benalmádena, málaga', 'krumpendorf', 'norville', 'santiago do cecem', 'caldicot', 'ljubjlana', 'e - tarragona, catalonoa', 'co. mayo', 'vuren', 'khorog', 'athis mons', 'wangen im allgau', 'sautens', 'harrow, london', 'yalikavak', 'cluse', 'pont de veyle', 'ústí nad orlicí', 'bournemouth bh2 6na', 'cz063', 'lomza', 'vilassar de mar barcelona', 'leirfjord', 'brent pelham', 'raleigh', 'leven ky8 5rf', 'dettenheim', 'glamis', 'kjerring�y', 'thale', 'duttweiler', '?zmir', 'huddesrfield', 'fernelmont', 'rovanie11', 'cardigan', 'bernati', 'nysa', 'dafundo', 'saint georges sur baulche', 'dz the hague', 'l�signy', 'sesimbra', 'tramin', 'pl 00-927 warszawa', 'b?rger', 'torino to', 'oviedo, asturias,', 'devrek/zonguldak', 'cotofenii din fata', 'mondorf-les-bains', 'castellbell i el vilar', 'moaña - ponte vedra', 'k?hnsdorf', 'budapeste', 'dinslaken', 'bapha', 'alcudia in spain.', 'herve', 'lindenberg/allg�u', 'ballynoe', 'pampow', 'gréoux-les-bains', 'warant dreye', 'grabenstatt', 'flein', 'sant feliu de gu�xols, girona', 'mori', 'avidos, vila nova de famalicão', 'vigo ourense', 'westerburg', 'cyprus', 'st. martins', 'punaauia, tahiti', 'la campana', 'analija', 'fornos de algodres', 'stutensee-sp?ck', 'b.p. dunkerque c�dex', 'gemersheim', 'heimdal', 'praha - libe?', 'pula-pola', 'ploemeur', 'pelayos de la presa', 'font romeu', 'aurich-popens', 'b�dingen', 'daas kildare', 'tsigov chark', 'pedrogao grande, leiria', 'lt kaunas01', 'triq il-kostituzzjoni', 'wedding berlin', 'sarriguren', 'coralejo, fuerteventura', 'hereclean', 'he warmond', 'cibali fatih/ istanbul', 'mulhuddart', 'cento fe', 'vilablareix. girona', 'reims cdex', 'pr�st�', 'swisttal', 'dunstaffnage, oban', "sered'", 'am delden', 'den bosh', 'kühtai', 'gélos', 'phra nakhon si ayutthaya', 'la fère', 'twickenham tw1 1dq', 'edinburgh scottland', 'saxion university of applied sciences', 'wienne', 'st. p?lten', 'chelsea harbour london', 'voluntari,judetul iifov', 'amazon europe core sarl, located in luxembourg.', 'venice - campo apostolin', 'sitguna', 'ostrava – zábřeh-ostrava-jih', 'latchi pathos', 'hanu?ovce�nad�top?ou', 'dk kobenha58', 'karise', 'encarnación', 'moncada-valencia', 'parikia, paros', 'popeşti', 'fye', 'kehl-kork', 'pirkanmaa', 'si̇mav', 'sendai, miyagi', 'ludmannsdorf', 'vessigebro', 'golbas?', 'reggio emilia/modena', 'torre de benagalbón', 'd�rth', 'mortimer', 'almed�jar']