In [1]:
from glob import glob
import pandas as pd
import re

In [10]:
check_dict = {}

In [11]:
data_results = glob("data/*")
for file in data_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year != 2012:
        target_encoding = "utf-8"
    else:
        target_encoding = "latin-1"
    df = pd.read_csv(file, sep = ";", encoding = target_encoding)
    count = len(df.index)
    check_dict[year] = [count]

C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (8,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\2515357350.py:8: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)

In [12]:
notna_results = glob("data_notna/*")
for file in notna_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year != 2012:
        target_encoding = "utf-8"
    else:
        target_encoding = "latin-1"
    df = pd.read_csv(file, sep = ";", encoding = target_encoding)
    count = len(df.index)
    if year in check_dict.keys():
        check_dict[year].append(count)

C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (12,13,14,15,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (7,12,13,14,15,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (7,12,13,14,15,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (7,12,13,14,15,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (9,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_6924\3648737788.py:8: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)

In [13]:
edge_results = glob("edges/*")
for file in edge_results:
    year = file.split("\\")[1].split(".")[0]
    if len(year) == 4:
        year = int(year)
        df = pd.read_csv(file, sep = ";", encoding = "utf-8")
        count = df["count"].sum()
        if year in check_dict.keys():
            check_dict[year].append(count)

In [14]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "notna", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["notna"]
check_df

        data   notna   edges     ratio
2008  198523  168193  122170  0.726368
2009  213266  177705  130923  0.736743
2010  231408  190499  139350  0.731500
2011  252827  204756  148583  0.725659
2012  267547  267547  153827  0.574953
2013  272791  218225  158883  0.728070
2014  234772  234771  170204  0.724979
2015  552220  552213  388487  0.703509
2016  601809  601808  422039  0.701285
2017  642077  642067  448567  0.698630
2018  688510  688493  484706  0.704010
2019  736434  736429  516956  0.701977

In [15]:
check_df["edges"].sum() / check_df["notna"].sum()

0.7014523226527568