In [25]:
from glob import glob
import pandas as pd
import re

In [26]:
check_dict = {}

In [27]:
data_results = glob("data/*")
for file in data_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year != 2012:
        target_encoding = "utf-8"
    else:
        target_encoding = "latin-1"
    df = pd.read_csv(file, sep = ";", encoding = target_encoding)
    count = len(df.index)
    check_dict[year] = [count]

C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (6,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (8,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\2515357350.py:8: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)

In [28]:
notna_results = glob("edges_notna/*")
for file in notna_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year != 2012:
        target_encoding = "utf-8"
    else:
        target_encoding = "latin-1"
    df = pd.read_csv(file, sep = ";", encoding = target_encoding)
    count = len(df.index)
    if year in check_dict.keys():
        check_dict[year].append(count)

C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\367639825.py:8: DtypeWarning: Columns (12,13,14,15,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)
C:\Users\lorga\AppData\Local\Temp\ipykernel_1260\367639825.py:8: DtypeWarning: Columns (7,12,13,14,15,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = target_encoding)

In [29]:
edge_results = glob("edges/*")
for file in edge_results:
    year = file.split("\\")[1].split(".")[0]
    if len(year) == 4:
        year = int(year)
        df = pd.read_csv(file, sep = ";", encoding = "utf-8")
        count = df["count"].sum()
        if year in check_dict.keys():
            check_dict[year].append(count)

In [30]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "notna", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["notna"]
check_df

        data   notna     edges     ratio
2008  198523  168193  122170.0  0.726368
2009  213266  177705  130923.0  0.736743
2010  231408  114784       NaN       NaN
2011  252827  124419       NaN       NaN
2012  267547  129755       NaN       NaN
2013  272791  134724       NaN       NaN
2014  234772  169983       NaN       NaN
2015  552220  388175       NaN       NaN
2016  601809  421671       NaN       NaN
2017  642077  448170       NaN       NaN
2018  688510  484232       NaN       NaN
2019  736434  516372       NaN       NaN

In [31]:
check_df["edges"].sum() / check_df["notna"].sum()

0.07720526889438448

In [5]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["data"]
check_df

        data   edges     ratio
2008  198523  161178  0.811886
2009  213266  172641  0.809510
2010  231408  190369  0.822655
2011  252827  206431  0.816491
2012  267547  219032  0.818667
2013  272791  225790  0.827703
2014  234772  169984  0.724039
2015  552220  388176  0.702937
2016  601809  421672  0.700674
2017  642077  448174  0.698007
2018  688510  484237  0.703311
2019  736434  516374  0.701182

In [6]:
check_df["edges"].sum() / check_df["data"].sum()

0.7366971479404699

In [13]:
edges_df = pd.read_csv("output/flows.csv", sep = ";", encoding = "utf-8")
edges_filtered_df = edges_df.loc[edges_df["count"] > 1]

In [18]:
edges_origins_list = edges_df["origin"].tolist()
edges_dest_list = edges_df["dest"].tolist()
edges_city_list = list(set(edges_origins_list + edges_dest_list))
len(edges_city_list), len(edges_df.index)

(19334, 854216)

In [17]:
edges_filtered_origins_list = edges_filtered_df["origin"].tolist()
edges_filtered_dest_list = edges_filtered_df["dest"].tolist()
edges_filtered_city_list = list(set(edges_filtered_origins_list + edges_filtered_dest_list))
len(edges_filtered_city_list), len(edges_filtered_df.index)

(12730, 529825)

In [19]:
edges_filtered_df["count"].sum()

3279667

In [20]:
edges_df["count"].sum()

3604058

In [11]:
check_df = pd.DataFrame.from_dict(check_dict, columns = ["data", "edges"], orient = "index")
check_df["ratio"] = check_df["edges"] / check_df["data"]
check_df

        data   edges     ratio
2008  198523  161178  0.811886
2009  213266  172641  0.809510
2010  231408  190369  0.822655
2011  252827  206431  0.816491
2013  272791  225790  0.827703
2014  234772  169984  0.724039
2015  552220  388176  0.702937
2016  601809  421672  0.700674
2017  642077  448174  0.698007
2018  688510  484237  0.703311
2019  736434  516374  0.701182

In [12]:
check_df["edges"].sum() / check_df["data"].sum()

0.731954962086754

In [10]:
data_results = glob("data/*")

def clean_and_append(city):
    city = str(city)
    city = re.sub(r"\(.*?\)", "", city)
    city = city.lower()
    city = city.strip()
    city = city.replace("  ", " ")
    city_split = [token for token in city.split(" ") if not token.isdigit()]
    city = " ".join(city_split)
    return city

city_list = []
for file in data_results:
    year = int(file.split("\\")[1].split(".")[0])
    if year > 2013:
        df = pd.read_csv(file, sep = ";", encoding = "utf-8")
        sending_list = df["Sending City"].tolist()
        for city in sending_list:
            city = clean_and_append(city)
            city_list.append(city)
        receiving_list = df["Receiving City"].tolist()
        for city in receiving_list:
            city = clean_and_append(city)
            city_list.append(city)
city_list = list(set(city_list))
print(len(city_list))

C:\Users\lorga\AppData\Local\Temp\ipykernel_16508\3318989483.py:17: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = "utf-8")
C:\Users\lorga\AppData\Local\Temp\ipykernel_16508\3318989483.py:17: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, sep = ";", encoding = "utf-8")

77215